/* Add some basic styling */
input {
    width: 300px;
    padding: 10px;
    margin: 10px 0;
}

div {
    margin-left: 10px;
}
.response-textarea {
    width: 100%;
    /*height: 15%;*/
    box-sizing: border-box;
}
.search-bar {
    flex-grow: 1;
    display: block;
    margin-left: auto;
    margin-right: auto;
    left: 10%;
    width: 50%;
}
.container {
    position: relative;
    text-align: center; /* Center-align items horizontally */
}
.container-header {
    font-size: 18px; /* Sets the font size */
    color: #4A4A4A; /* Sets the text color */
    font-weight: bold; /* Ensures the text is bold, which <b> usually does by default */
    padding: 5px 10px; /* Adds some padding around the text */
    background-color: #EFEFEF; /* Sets a background color for the header */
    border-bottom: 1px solid #D3D3D3; /* Adds a bottom border for a distinct look */
    display: block; /* Makes the <b> tag behave like a block-level element */
    margin-bottom: 10px; /* Adds some space below the header */
}
.group-section {
    margin-bottom: 20px;
}

.group-header {
    font-weight: bold;
    margin-bottom: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

td {
    padding: 5px;
    border: 1px solid #ccc;
}

.dropdown-menu {
    top: 100%; /* Adjust if you need some space between the search bar and dropdown */
    /*transform: translateX(-50%);*/
    transform: translateX(calc(-30% ));
    border: 1px solid #a19d9d;
    padding: 10px;
    position: absolute;
    background-color: white;
    width: 40%;
    height: 70vh;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    overflow: auto;
    left: 10%;
}

.group-header {
    font-weight: bold;
    margin-top: 10px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 5px 0;
}

.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw; /* Full viewport width */
    height: 100vh; /* Full viewport height */
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}
.popup-container {
    position: fixed; /* or 'absolute' if it should be within a specific container */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.popup-inner {
    background: white;
    padding: 20px;
    border-radius: 5px;
    position: relative;
    width: 90%; /* Adjust the width as necessary */
    height: 80%; /* Use a percentage of the viewport height */
    overflow: auto; /* Enable scrolling */
    resize: both; /* Enable resizing */
}

.popup-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f1f1f1;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}
.popup-title {
    margin: 0;
    font-weight: bold;
}

.popup-close-btn {
    position: absolute;
    top: 10px; /* Adjust as needed */
    right: 10px; /* Adjust as needed */
    cursor: pointer;
}
.popup-content {
    width: 100%; /* Full width of the container */
    height: 100%; /* Full height of the container */
    overflow: auto; /* Enable scrolling inside the content area if needed */
}

.search-container {
    display: flex; /* Aligns children (input and button) in a row */
}

.search-button {
    border-top-left-radius: 0; /* Removes the left border-radius */
    border-bottom-left-radius: 0; /* Removes the left border-radius */
    /* Add other styles as needed */
}
.dropdown-menu-2 {
    top: 100%; /* Adjust if you need some space between the search bar and dropdown */
    /*transform: translateX(-50%);*/
    transform: translateX(calc(-30% ));
    border: 1px solid #a19d9d;
    padding: 10px;
    position: absolute;
    background-color: white;
    width: 40%;
    height: 70vh;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    overflow: auto;
    left: 10%;

}

.table-container {
    width: 100%; /* Set the width of the table container */
}

.table-container table {
    width: 100%; /* Set the width of the table to fill the container */
    table-layout: fixed; /* Enable fixed table layout */
}

.table-container td {
    vertical-align: top; /* Align content to the top of the cell */
}

/* Set specific widths for your columns if needed */
.table-container .dropdown-menu {
    width: 50%; /* Example fixed width for the first column */
}

.table-container .dropdown-menu-2 {
    width: 50%; /* Example fixed width for the second column */
}
.myNodeLabel {
    display: inline-block; /* or block */
    width: 150px; /* Adjust as needed */
    word-wrap: break-word;
    word-break: break-word;
    white-space: normal; /* Ensures text wraps */
    text-align: center; /* Optional: for center alignment */
    font-size: 12px; /* Adjust as needed */
}
.auth-table {
    width: 20%;
    position: relative; /* Adjust based on your layout needs */
    top: 0;
    left: 0;
    /*z-index: 1000;*/
    z-index: 1;
}

/* Setting column widths */
.auth-table th, .auth-table td {
    /* Example: setting the first column to be 200px wide */
    /*width: 200px;*/
}

/*.auth-table tr:nth-child(0) td:{*/
/*    width: 10px;*/
/*}*/
.top_div {
    display: flex;
    align-items: flex-start; /* Aligns items at the top */
}
.error-response-div {
    margin-left: 20px;
}

.table-responsive {
    width: 100%;
    overflow-x: auto; /* Allows table to be scrollable horizontally */
}

.table {
    width: 100%;
    table-layout: auto; /* Allows cells to expand based on content */
    word-break: break-word; /* Breaks long words if necessary */
}

.table th,
.table td {
    padding: 8px; /* Adjust padding as needed */
    border: 1px solid #ddd; /* Adjust border as needed */
    text-align: left; /* Align text to the left */
    vertical-align: top; /* Align content to the top of the cell */
    max-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.table th {
    background-color: #f8f9fa; /* Light grey background for header cells */
    font-weight: bold; /* Make header text bold */
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(0, 0, 0, 0.05); /* Zebra-striping for table rows */
}



/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}

/* Tooltip arrow */
.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.recs-link {
    color: #0000EE; /* Traditional link color */
    cursor: pointer;
    text-decoration: none;
}
.recs-link:hover {
    text-decoration: underline;
}